*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left, #FF6868,#294B29);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Urbanist", sans-serif;
}

.alldetail {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 0.8rem black;
    background-image: linear-gradient(to right, #FF6868, #294B29);
    padding: 0.2rem 0.8rem 0.5rem;
    color: #fff;
}

.heading {
    text-align: center;
    font-weight: bold;
}

.detail {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
}

.cancel-submit {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

}

.cancel {
    text-decoration: none;
    background-color: #fff;
    padding: 0.1rem;
}

.submit {
    text-decoration: none;
    background-color: #fff;
    padding: 0.1rem;
}